@import "../_snowpack/pkg/revealjs/dist/reveal.css";
@import "../_snowpack/pkg/highlightjs/styles/tomorrow.css";

@import "../theme/css/sfeir-school-theme.css";

.reveal section iframe.terminal {
  height: calc(100% - 50px);
  width: 100%;
  border: none;
  padding: 50px;
}

.reveal section blockquote {
  box-shadow: none;
}

.reveal section.flex-row.p-50 img {
  padding: 50px;
}

.tweet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal pre code {
  max-height: 800px;
}

#elebeaup {
  color: #1DA1F2;
}
